@import url(reset.css);
body {
  background: #e9f2f7;
	font-family: 'PT Sans';
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
}
.wrapper {
	box-sizing: border-box;

	width: 100%;
	padding: 0 15px;
}
header {
  padding: 10px 0 0;
	width: 100%;
}
.header__toggle{
	display: none;
	position: absolute;
	left: 20px;
	top: 10px;
}
header:after {
	content: " ";
	display: block;
	clear: both;
}
@media (max-width: 900px) {
	.header {
		display: flex;
		justify-content: center;
	}
	.header__toggle{
		display: block;
	}
	.header__menu{
		display: none;
	}
}

.logo {
  float: left;
	width: 128px;
	height: 58px;
}
.menu {
	float: left;
	padding-top: 27px;
	padding-left: 65px;
}
.menu-links a {
	text-decoration: underline;
  font-size: 16px;
  font-style: italic;
  color: #6a8691;
}
.menu-links__activeLink a, .menu-links a:hover {
  text-decoration: none;
	color: #b64141;
}
.menu-style ul li {
	float: left;
	margin-left: 15px;
	font-style: italic;
	letter-spacing: 0px;
  color: #6a8691;
}
.menu-style ul li + li:before {
  content: "/";
	padding-right:20px;
  padding-left: 5px;
  font-style: italic;
  color: #ffffff;
}
.h1 {
	text-transform: uppercase;
	font-family: 'PT Sans Narrow';
	margin-top: 55px;
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #81b5cb;
}
.h2 {
	margin-top: 80px;
	width: 950px;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow';
	font-size: 30px;
	color: #81b5cb;
}
.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
  line-height: 16pt;
  color: #000000;
}

.content__box {
	box-sizing: border-box;
	padding-top: 40px;
	padding-left: 45px;
	width: 50%;
	font-style: regular;
	font-size: 16px;
	letter-spacing: normal;
}

@media (max-width: 900px) {
	.content__box{
		width: 100%;
	}
}
.content__box-style {
	padding-right: 50px;
	font-size: 15px;
	font-style: italic;
  color: #6a8691;
}
.img-responsive{
	max-width: 100%;
}
.image {
  margin-top: 60px;
  margin-bottom: 110px;
  margin-left: 45px;
	max-height: 290px;
	max-width: calc(100% - 45px);
}

span.content__box-colored {
	font-weight: bold;
	color:#bf4140;
}
.content__box-bold span {
	font-weight: bold;
	color:#050505;
}
.content__box-spaces p {
	padding-bottom: 20px;
}
.footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 115px;
	padding-right: 30px;

}

.footer__halfbox {
	width: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
  font-size: 12px;
  line-height: 13pt;
  color: #000000;
}
.footer__box {
	box-sizing: border-box;
	padding-top: 17px;
	padding-left: 20px;
	width: 50%;
	border-top: 2px solid white;
}
.footer__box a {
	text-decoration: underline;
  color: #67a4bf;
}
.footer__box-coloredLine{
	border-top: 2px solid #d4999b;
}

@media (max-width: 900px) {
	.footer{
		padding-right: 0;
		border-top: 2px solid white;
	}
	.footer__halfbox{
		width: 100%;
	}
	.footer__box{
		width: 50%;
		border-top: none;
	}
	.footer__box-coloredLine{
		border-top: none;
	}
}
